<?xml version="1.0"?>
<uLoremsy>
    <!--
	<tree nodeName="Simple website" enabled="false">
        <documentType nodeTypeAlias="umbTextpage" enabled="true">
            <property alias="umbracoNaviHide" enabled="true">
                1
            </property>
            
            <property alias="bodyText" enabled="true">
                Specified body text
            </property>
        </documentType>


        <documentType nodeTypeAlias="siteName,umbTextpage,uBlogsyPost" enabled="true">
            <property alias="bodyText" enabled="true">
                bodyText from doctype override...order matters unless you're a wildcard
            </property>
        </documentType>
        
    </tree>

    <tree nodeName="*" enabled="false">
        <documentType nodeTypeAlias="umbTextpage" enabled="true">
            <property alias="bodyText" enabled="true">
                bodyText from doctype umbTextpage in tree wildcard
            </property>
        </documentType>

        <documentType nodeTypeAlias="*" enabled="true">
            <property alias="siteName" enabled="true">
                siteName from doctype wildcard in tree wildcard
            </property>
        </documentType>
    </tree>
	-->
    
</uLoremsy>


<!--
Properties in specified trees doctypes will override wildcards
Order of processing: 
1. Wildcards tree
  a. Wildcard doctypes
  b. Specified doctypes

2. Specified tree
  a. Wildcard doctypes
  b. Specified doctypes



Supported .Net values
DateTime.Now
DateTime.UtcNow

Supported Umbraco Document values
Document.Id
Document.DateCreated
Document.DateUpdated
Document.Name
Document.NodeTypeAlias

Supports Umbraco values from ancestor Document
eg. To get the name of the parent
Document.Parent.Name

eg. To get the name of the grandparent
Document.Parent.Parent.Name


Supports Custom properties of ancestor Documents
Eg. If the parent contains a property called bodyText
Document.Parent.Properties.bodyText

Eg. If the grandparent contains a property called bodyText
Document.Parent.Parent.Properties.bodyText

-->