@using System;
@using Models;


@{
    //Obtain data from model
    var id = Model.Thumbnail;


    //Obtain Introduction Image
    string aboutImgUrl = string.Empty;
    if (id != null)
    {
        //Instantiate variables
        var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
        IPublishedContent ipImg = umbracoHelper.TypedMedia(Int32.Parse(id.ToString()));
        aboutImgUrl = ipImg.GetCropUrl(Common.crop.Square_500x500);
    }
}


@if (!string.IsNullOrEmpty(aboutImgUrl))
{
    <div class="cell blockItem" data-nodeid="@Model.Id">
        <a href="@Model.Url">
            <figure>
                <img src="@aboutImgUrl" alt="">
                <figcaption>
                    <div class="text-center sectionName">@Model.Title</div>
                </figcaption>
            </figure>
        </a>
    </div>
}