@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits UmbracoViewPage<ContentModels.AddEditIlluminationStory>
@{ Layout = "ManageAccount.cshtml"; }



@{
    //Obtain page content
    Models.AddEditIlluminationStoryContent PgContent = Controllers.IlluminationController.DoesStoryExist(User);
}


<div id="pnlIlluminationStory">
    @if (TempData["showAddEditPnl"] != null && (bool)TempData["showAddEditPnl"])
    {
        <input type="hidden" value="true" id="hfldShowAddEditPnl" />
    }
    <div class="grid-x">
        <div class="cell">
            @if (!User.Identity.IsAuthenticated)
            {
                //Redirect to login page.
                Response.Redirect(Umbraco.TypedContent((int)(Models.Common.siteNode.Login)).Url);
            }
            else
            {
                if (PgContent.DoesStoryExist)
                {
                    Html.RenderAction("RenderStory", "Illumination", new { member = PgContent.Member });
                    Html.RenderAction("RenderForm", "Illumination", new { member = PgContent.Member, editMode = true });
                }
                else
                {
                    Html.RenderAction("RenderInstructions", "Illumination");
                    Html.RenderAction("RenderForm", "Illumination", new { member = PgContent.Member });
                }
            }

        </div>
    </div>
</div>


@section Footer {
    <script type="text/javascript" src="~/Scripts/custom/manageIlluminationPanels.js"></script>
}