@using formulate.core.Models;
@using formulate.app.Types;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits UmbracoViewPage<ContentModels.ContactUs>
@{ Layout = "TopLevel.cshtml"; }




@{
    //Obtain page data
    Models.ContactUsContent PgContent = Controllers.GeneralController.ObtainContactUsContent(Model, Html);
}



<div class="form">
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell">
            <p>@PgContent.ContactSummary</p>
            <div class="formulate-wrapper">
                <h2>Drop Us a Line</h2>
                @Html.Partial("~/Views/Partials/Formulate/RenderForm.cshtml", PgContent.Vm)
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell">
            <h2>Snail Mail</h2>
            <address>
                @Html.Raw(umbraco.library.ReplaceLineBreaks(Model.MailingAddress))
            </address>
        </div>
    </div>
</div>