@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "IlluminationStatistics.cshtml"; }



<h3 class="text-center">By Gender</h3>

@{ Html.RenderPartial("Partials/Charts/HorizontalBarChart"); }
@*@{ Html.RenderPartial("Partials/Charts/HorizontalBarChart"); }
@{ Html.RenderPartial("Partials/Charts/HorizontalBarChart"); }
@{ Html.RenderPartial("Partials/Charts/HorizontalBarChart"); }*@



@section Footer { }