@using Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "IlluminationStatistics.cshtml"; }



@{
    //
    Models.StatsByAge stats = Controllers.IlluminationController.ObtainStatistics_byAge(Model);
}


<h3 class="text-right">By Age</h3>
<h4 class="text-right">Total of <strong>@stats.TotalEntries</strong> entries.</h4>







@{ Html.RenderPartial("Partials/Charts/LineChart", stats); }


@*@{ Html.RenderPartial("Partials/Charts/PolarAreaChart"); }*@


<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell large-12">
        @{ Html.RenderPartial("Partials/Charts/PolarAreaChart", stats, new ViewDataDictionary(this.ViewData) { { "index", 0 } }); }
    </div>
    <div class="cell large-12">
        @{ Html.RenderPartial("Partials/Charts/PolarAreaChart", stats, new ViewDataDictionary { { "index", 1 } }); }
    </div>
    <div class="cell large-12">
        @{ Html.RenderPartial("Partials/Charts/PolarAreaChart", stats, new ViewDataDictionary { { "index", 2 } }); }
    </div>
    <div class="cell large-12">
        @{ Html.RenderPartial("Partials/Charts/PolarAreaChart", stats, new ViewDataDictionary { { "index", 3 } }); }
    </div>
</div>





@section Footer {
    @*<script>
            $(window).on("load", function () {
                //Show the duration it took to generate statistics.
                console.log('@stats.Duration');
            });
        </script>*@
}