@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "IlluminationStatistics.cshtml"; }



<h3 class="text-center">By Religion</h3>

@{ Html.RenderPartial("Partials/Charts/StackedBarChart"); }

@{ Html.RenderPartial("Partials/Charts/PieChart"); }
@{ Html.RenderPartial("Partials/Charts/PieChart"); }
@{ Html.RenderPartial("Partials/Charts/PieChart"); }
@{ Html.RenderPartial("Partials/Charts/PieChart"); }



@section Footer { }