@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "IlluminationStatistics.cshtml"; }



<h3 class="text-center">By Race</h3>
@{ Html.RenderPartial("Partials/Charts/StackedBarChart"); }



@section Footer { }