@inherits UmbracoViewPage



<div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell">
        <h4>Horizontal Bar Chart</h4>
        <img alt="" src="~/images/temp/horizontalBarChart.jpg" />

        <br />
        <br />
        <canvas id="Chart1"></canvas>
    </div>
</div>




<script>
    $(document).ready(function () {
        var barOptions_stacked = {
            tooltips: {
                enabled: false,
                callbacks: {
                    //label: function (tooltipItems, data) {
                    //    return ' ' + data.datasets[tooltipItems.datasetIndex].data[tooltipItems.index] + ' %';
                    //}
                }
            },
            hover: {
                animationDuration: 0
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: false,
                        fontFamily: "'Open Sans Bold', sans-serif",
                        fontSize: 12,
                        callback: function (tick) {
                            return tick.toString();
                        }
                    },
                    scaleLabel: { display: true },
                    gridLines: {},
                    stacked: true
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                        color: "#fff",
                        zeroLineColor: "#fff",
                        zeroLineWidth: 0
                    },
                    ticks: {
                        fontFamily: "'Open Sans Bold', sans-serif",
                        fontSize: 12
                    },
                    stacked: true
                }]
            },
            legend: {
                display: false
            },
            animation: {
                onComplete: function () {
                    var chartInstance = this.chart;
                    var ctx = chartInstance.ctx;
                    ctx.textAlign = "left";
                    ctx.font = "12px Open Sans";
                    ctx.fillStyle = "#fff";

                    //Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                    //    var meta = chartInstance.controller.getDatasetMeta(i);
                    //    Chart.helpers.each(meta.data.forEach(function (bar, index) {
                    //        data = dataset.data[index];
                    //        ctx.fillText(data + ' %', bar._model.x - 35, bar._model.y + 4);
                    //    }), this)
                    //}), this);
                }
            },
            pointLabelFontFamily: "Quadon Extra Bold",
            scaleFontFamily: "Quadon Extra Bold",
        };


        var ctx = document.getElementById("Chart1");
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["100+","95","90","85","80"],

                datasets: [{
                    label: "",
                    barThickness: 15,
                    data: [45 ,35 ,25 ,15 ,5 ],
                    backgroundColor: "transparent",
                    hoverBackgroundColor: "transparent"
                }, {
                    label: "XY [Male]",
                    barThickness: 15,
                    data: [ 5, 15, 25, 35,45 ],
                    backgroundColor: "#4f81bc",
                    hoverBackgroundColor: "#8CACD3"
                }, {
                    label: "XX [Female]",
                    barThickness: 15,
                    data: [ 5, 15, 25, 35,45 ],
                    backgroundColor: "#bf4b49",
                    hoverBackgroundColor: "#D58987"
                }, {
                    label: "",
                    barThickness: 15,
                    data: [45 ,35 ,25 ,15 ,5 ],
                    backgroundColor: "transparent",
                    hoverBackgroundColor: "transparent"
                }]
            },

            options: barOptions_stacked,
        });
    });
</script>